<!DOCTYPE html>
<html>
<head>
    <title>Home Background Image</title>
    <style>
        body {
            background-image: url("abstractmusic.jpg");
            background-color: #cccccc;
        }
        .container{
            height: 20px;
            width: 40px;
        }
    </style>
</head>
<body>
    <div class ="container"
        <div class="outer">
            <div class="details">

            </div>
        </div>
    </div>
</body>
</html>
