<!DOCTYPE html>
<html>
<head>
    <title>Home Background Image</title>
    <style>
        body {
            background-image: url('guitardoor.jpg');
            background-size: 100%;
            background-color: #cccccc;
        }
    </style>
</head>
<body>
    <div class="container"
        <div class="outer">
            <div class="details">

            </div>
        </div>
    </div>
</body>
</html>
