<!DOCTYPE html>
<html>
<head>
    <title>Lessons Background Image</title>
    <style>
        body {
            background-image: url('closeupguitar.jpeg');
            background-color: #cccccc;
        }
    </style>
</head>
<body>
    <div class="container"
        <div class="outer">
            <div class="details">

            </div>
        </div>
    </div>
</body>
</html>
