@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url('../../Content/Image/record.jpg');
            background-size: 125%;
            padding-right: 200px;
        }

        .jumbotron {
            background: rgba(0,0,0,0.0001);
            padding-top: 75px;
            padding-right: 50px;
        }

        body {
            padding-top: 25px;
            padding-bottom: 0px;
            padding-left: 50px;
        }
    </style>
</head>
<body>
    <div> class="container"
        <div class="outer">
            <div class="details">

            </div>
        </div>
    </div>
</body>
</html>
<p>MusiTech is a free website where music meets business. Use the lesson book to record information reguarding music lessons. Here you can keep track of each music lesson session, add, edit, delete, and view lesson details. </p>
