@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<!DOCTYPE html>
<html>
<head>
    <style>
        .jumbotron {
            background: rgba(0,0,0,0.0001);
            padding-top: 75px;
            padding-left: 50px;
        }

        body {
            background-image: 
            padding-top: 25px;
            padding-bottom: 0px;
            padding-left: 50px;
        }
    </style>
</head>
<body>
    <div> class="container"
        <div class="outer">
            <div class="details">

            </div>
        </div>
    </div>
</body>
</html>

<address>
    One Music Way<br />
    Noteland, CA 12345<br />
    <abbr title="Phone">P:</abbr>
    1-800-MusiTech
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Musi1Tech@aol.com">Musi1Tech@aol.com</a><br />
</address>